/** VARIABLES
===================================*/
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.bx-wrapper img {
  max-width: 100%;
  display: block;
}
.bxslider {
  margin: 0;
  padding: 0;
}
ul.bxslider {
  list-style: none;
}
.bx-viewport {
  /* fix other elements on the page moving (in Chrome) */
  -webkit-transform: translateZ(0);
}
/** THEME
===================================*/
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: 30px;
  width: 100%;
}
/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 14px;
  height: 14px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #3495e1;
}
.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}
.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  background-position: -43px 0;
}
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px;
}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}
/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}
body,
html {
  height: 100%;
}
.bx-wrapper {
  width: 100%;
  height: 100%;
}
.bxslider,
.bxslider li {
  height: 100vh;
}
.bxslider li {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.bx-wrapper .bx-viewport {
  border: none !important;
}
.nav > li > a:focus,
.nav > li > a:hover {
  background-color: transparent;
}
a,
a:hover,
a:active {
  text-decoration: none;
}
a:focus,
button:focus,
textarea:focus {
  outline: none;
  outline-offset: 0;
}
.mb30 {
  margin-bottom: 30px;
}
.m-b-30 {
  margin-bottom: 30px;
}
.management-section [class*="col-"] {
  padding: 0;
}
.management-section .row {
  margin-left: 0;
  margin-right: 0;
}
.management-section .container-fluid {
  padding: 0 !important;
}
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .two-column-wrapper .left_wrapper_des {
    padding: 15px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 767px) {
  .container-fluid {
    padding: 0 25px;
  }
  .two-column-wrapper .left_wrapper_des {
    padding: 25px;
  }
  .p-r-0 {
    padding-right: 0;
  }
  .align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
  }
  .two-column-wrapper [class*="col-"] {
    padding: 0;
  }
  .two-column-wrapper .row {
    margin-left: 0;
    margin-right: 0;
  }
  .two-column-wrapper .container-fluid {
    padding: 0 !important;
  }
  .why_choose_wrapper .square_box p {
    height: 180px;
  }
}
@media only screen and (min-width: 992px) {
  .container-fluid {
    padding: 0 50px;
  }
  .two-column-wrapper .left_wrapper_des {
    padding: 50px;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width: 1366px) {
  .container-fluid {
    padding: 0 60px;
  }
  .two-column-wrapper .left_wrapper_des {
    padding: 60px;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width: 1440px) {
  .container-fluid {
    padding: 0 75px;
  }
  .two-column-wrapper .left_wrapper_des {
    padding: 75px;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1600px) {
  .container-fluid {
    padding: 0 100px;
  }
  .two-column-wrapper .left_wrapper_des {
    padding: 100px;
  }
}
@media only screen and (min-width: 1800px) {
  .container-fluid {
    padding: 0 150px;
  }
  .two-column-wrapper .left_wrapper_des {
    padding: 100px;
  }
  .why_choose_wrapper .square_box p {
    height: 150px;
  }
}
/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1440px) {
  .description_wrapper {
    max-width: 992px;
  }
  .why_choose_wrapper .square_box p {
    height: 215px;
  }
}
@media only screen and (max-width: 1366px) {
  .why_choose_wrapper .square_box {
    padding: 40px 15px;
  }
  .why_choose_wrapper .square_box h4 {
    font-size: 22px;
  }
}
@media only screen and (max-width: 1200px) {
  .why_choose_wrapper .square_box h4 {
    font-size: 18px;
  }
  .why_choose_wrapper .square_box p {
    font-size: 14px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .two_column_wrapper .heading_description_wrapper .description {
    padding-right: 25px;
  }
  .two_column_wrapper .number_text_wrapper .number {
    font-size: 50px;
  }
  .two_column_wrapper .number_text_wrapper .text {
    font-size: 18px;
  }
  .why_choose_wrapper .square_box p {
    height: 265px;
  }
}
@media only screen and (max-width: 780px) {
  .home-banner .heading {
    font-size: 26px;
    width: 320px;
    height: 75px;
  }
  .why_choose_wrapper .square_box h4 {
    height: auto;
  }
  .bx-outer-slider-wrapper .mnt_slider .middle-text .heading {
    font-size: 26px;
    width: 320px;
    height: 75px;
  }
  .two_column_wrapper .number_text_wrapper .text {
    font-size: 16px;
  }
  .two_column_wrapper .number_text_wrapper {
    margin-bottom: 25px;
  }
  .two_column_wrapper .number_text_wrapper .number {
    font-size: 40px;
  }
  .tab-menu .nav-pills > li {
    width: 28%;
  }
  .two_column_wrapper,
  .relocation-wrapper {
    padding: 40px 0;
  }
  .two_column_wrapper .heading_description_wrapper .description {
    padding-right: 0;
  }
  .footer-wrapper .quick-contact {
    text-align: left;
    padding: 0;
  }
  .tab-menu .nav-pills > li > a {
    font-size: 13px;
  }
  .image-tile {
    margin-bottom: 40px;
  }
  .image-tile img {
    margin: 0 auto;
  }
  .cbp-af-header {
    margin-top: 0;
  }
  .navbar-collapse {
    border-top: none;
  }
  .navbar-toggle .icon-bar {
    background-color: #3495e1;
  }
  .logo img {
    width: 125px;
    padding-left: 20px;
  }
  .top-header {
    padding: 0;
  }
  .navbar-nav {
    margin: 0;
  }
  .navbar-collapse {
    margin: 0;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }
  nav li {
    display: block;
    float: none;
  }
  .top-header {
    height: 50px;
  }
  h1 {
    font-size: 30px !important;
  }
  .list_wrapper {
    padding-top: 20px;
  }
  .compound_wrapper .property-item .detail {
    padding-top: 20px;
  }
  .callout-box .overlay + .g_wrapper .g_content_element {
    width: 90%;
    margin: 0 auto;
  }
  .registration-wrapper {
    margin: 50px 0;
  }
}
@media only screen and (max-width: 480px) {
  .home-banner .heading {
    font-size: 16px;
    width: 100%;
    height: 0px;
  }
  .tab-menu .nav-pills > li > a {
    font-size: 10px;
  }
  .registration-wrapper .panel-body {
    padding: 30px 10px;
  }
  h1 {
    font-size: 26px !important;
  }
  .management-section .g_wrapper .wpb_wrapper h5 {
    font-size: 15px;
  }
  .management-section .g_wrapper .wpb_wrapper p {
    font-size: 20px;
    line-height: 24px;
  }
  .callout-box:hover .overlay {
    height: calc(100% -20px) !important;
    width: calc(100% - 20px) !important;
  }
}
