
@import "plugin.less";

.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent;
}
a, a:hover, a:active{
  text-decoration: none;
}
a:focus,button:focus,textarea:focus {
	outline: none;
	outline-offset:0; 
}

.mb30 {
    margin-bottom: 30px;
}

.m-b-30 {
    margin-bottom: 30px;
}
.management-section{
    [class*="col-"] {
        padding: 0;
    }
    .row {
        margin-left:  0;
        margin-right: 0;
    }
    .container-fluid {
        padding: 0 !important;
    }
}

    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        .two-column-wrapper {
            .left_wrapper_des {
                padding: 15px;
            }
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 767px) {
        .container-fluid {
            padding: 0 25px;
        }
        .two-column-wrapper {
            .left_wrapper_des {
                padding: 25px;
            }
        }
        .p-r-0 {
            padding-right: 0;
        }
        .align-items-center {
            -ms-flex-align: center!important;
            align-items: center!important;
        }
        .two-column-wrapper {
            [class*="col-"] {
                padding: 0;
            }
            .row {
                margin-left:  0;
                margin-right: 0;
            }
            .container-fluid {
                padding: 0 !important;
            }
        }
        .why_choose_wrapper .square_box p {
            height: 180px;
        }
    }

@media only screen and (min-width : 992px) {
    .container-fluid {
        padding: 0 50px;
    }
    .two-column-wrapper {
        .left_wrapper_des {
            padding: 50px;
        }
    }

}

    /* Small Devices, Tablets */
    @media only screen and (min-width : 1366px) {
        .container-fluid {
            padding: 0 60px;
        }
        .two-column-wrapper {
            .left_wrapper_des {
                padding: 60px;
            }
        }
    }
/* Small Devices, Tablets */
@media only screen and (min-width : 1440px) {
    .container-fluid {
        padding: 0 75px;
    }
    .two-column-wrapper {
        .left_wrapper_des {
            padding: 75px;
        }
    }
}


    /* Large Devices, Wide Screens */
@media only screen and (min-width : 1600px) {
    .container-fluid {
        padding: 0 100px;
    }
    .two-column-wrapper {
        .left_wrapper_des {
            padding: 100px;
        }
    }
}

    @media only screen and (min-width : 1800px) {
   .container-fluid {
    padding: 0 150px;
   }
        .two-column-wrapper {
            .left_wrapper_des {
                padding: 100px;
            }
        }
        .why_choose_wrapper .square_box p {
            height: 150px;
        }
    }



    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1440px) {
        .description_wrapper {
            max-width: 992px;
        }
        .why_choose_wrapper .square_box p {
            height: 215px;
        }
    }
@media only screen and (max-width : 1366px) {
    .why_choose_wrapper .square_box {
        padding: 40px 15px;
    }
    .why_choose_wrapper .square_box h4 {
        font-size: 22px;
    }
}
@media only screen and (max-width : 1200px) {
    .why_choose_wrapper .square_box h4 {
        font-size: 18px;
    }
    .why_choose_wrapper .square_box p {
        font-size: 14px;
    }
}
    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        .two_column_wrapper .heading_description_wrapper .description{
            padding-right: 25px;
        }
        .two_column_wrapper .number_text_wrapper .number {
            font-size: 50px;
        }
        .two_column_wrapper .number_text_wrapper .text {
            font-size: 18px;
        }
        .why_choose_wrapper .square_box p {
            height: 265px;
        }

    }



@media only screen and (max-width: 780px) {

    .home-banner .heading {
        font-size: 26px;
        width: 320px;
        height: 75px;
    }
    .why_choose_wrapper .square_box h4 {
        height: auto;
    }
    .bx-outer-slider-wrapper .mnt_slider .middle-text .heading {
        font-size: 26px;
        width: 320px;
        height: 75px;
    }
    .two_column_wrapper .number_text_wrapper .text {
        font-size: 16px;
    }
    .two_column_wrapper .number_text_wrapper {
        margin-bottom: 25px;
    }
    .two_column_wrapper .number_text_wrapper .number {
        font-size: 40px;
    }
    .tab-menu .nav-pills > li{
        width: 28%;
    }
    .two_column_wrapper,.relocation-wrapper {
        padding: 40px 0;
    }
    .two_column_wrapper .heading_description_wrapper .description{
        padding-right: 0;
    }
    .footer-wrapper .quick-contact {
        text-align: left;
        padding: 0;
    }
    .tab-menu .nav-pills>li>a {
        font-size: 13px;
    }
    .image-tile {
        margin-bottom: 40px;
        img {
            margin: 0 auto;
        }
    }
    .cbp-af-header {
        margin-top: 0;
    }
    .navbar-collapse {
        border-top:none;
    }
    .navbar-toggle .icon-bar {
        background-color: #3495e1;
    }
    .logo img {
        width: 125px;
        padding-left: 20px;
    }
    .top-header {
        padding: 0;
    }
    .navbar-nav {
        margin: 0;
    }
    .navbar-collapse {
        margin: 0;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }
    nav li {
        display: block;
        float: none;
    }
    .top-header {
        height: 50px;
    }
    h1 {
        font-size: 30px !important;
    }
    .list_wrapper {
        padding-top: 20px;
    }
    .compound_wrapper .property-item .detail{
        padding-top: 20px;
    }
    .callout-box .overlay + .g_wrapper .g_content_element {
        width: 90%;
        margin: 0 auto;
    }
    .registration-wrapper {
    margin: 50px 0;
}
}
@media only screen and (max-width: 480px) {
    .home-banner .heading {
        font-size: 16px;
        width: 100%;
        height: 0px;
    }
    .tab-menu .nav-pills>li>a {
        font-size: 10px;
    }
    .registration-wrapper .panel-body {
    padding: 30px 10px;
}
h1 {
    font-size: 26px !important;
}
    .management-section .g_wrapper .wpb_wrapper h5{
        font-size: 15px;
    }
    .management-section .g_wrapper .wpb_wrapper p {
        font-size: 20px;
        line-height: 24px;
    }
    .callout-box:hover .overlay {
        height:  ~"calc(100% -20px)" !important;
        width:  ~"calc(100% - 20px)" !important;
    }
}

