/***************import less*/
@import "var.less";
@import "font.less";
@import url('https://fonts.googleapis.com/css?family=Exo+2:200,300,400,500,600,700');
@font: 'Exo 2', sans-serif;
/* @group Reset */



body, html{
  height: 100%;
}
.wow { visibility: hidden; }
.sr .fooReveal { visibility: hidden; }
/* @end */
.shadow {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  background-color: @white;
  border-radius: 8px;
}
body {
  background-color: #fff;
  overflow-x: hidden;
  font-family: 'Exo 2', sans-serif;
  color: #9aa6af;
  text-rendering: optimizelegibility;
  
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  
  -moz-tap-highlight-color:rgba(0,0,0,0); 
  -moz-text-size-adjust: none;
  -moz-font-smoothing: antialiased;
  
  -ms-tap-highlight-color:rgba(0,0,0,0); 
  -ms-text-size-adjust: none;
  -ms-font-smoothing: antialiased;
}
a {text-decoration: none;
  outline:none;}

.main-wrapper {
  overflow: hidden;

/*  Prevents Flickering  */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
.home-banner{
  position: relative;
  .overlay-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
  }
  .heading {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
     width: 100%;
     font-weight: 700;
    height:120px;
    font-size: 40px;
    color:#230f68;
    text-transform: uppercase;
    display: block;
    border: none;
    text-align: center;
    z-index: 9;
}
}

.top-header {
  height: 72px;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
}
.cbp-af-header {
      margin-top: 15px;
      -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.cbp-af-header.cbp-af-header-shrink {
    margin-top: 0;
    background: @white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

}

.burger {
  position: absolute;
  float: left;
  padding: 10px;
  top: 4px;
  left: 10px;
  cursor:pointer;
  
  display: none;
}
.burger li {
  width: 30px;
  height: 4px;
  background-color: #fff;
  border-radius: 3px;
  margin: 5px 0;
}
.burger.open_menu li {background-color: #d9dde1;}

nav li {
  float: left;
  display: inline-block;
}
.nav-pills>li+li {
  margin-left: 0;
}
nav li a {
  font-size: 16px;
  color:#230f68;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
}
.navbar-nav>li>a {
  padding: 25px 15px;
}
nav li a:hover {color: #3495e1;}
nav li.singn-in a {
      background: #3495e1;
    border-radius: 8px;
    color: #fff;
        padding:5px 25px;
     margin: 20px 10px;
        text-decoration: none;
}
.tab-menu {
 padding:0 0 30px 0;
  margin-top: -30px;
  text-align: center;
  .nav-pills>li {
    width: 33%;
    float: none;
    display: inline-block;
  }
  .nav-pills>li>a {
    border-radius: 0;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: @text;
    padding: 16px 10px;
    font-weight: 300;
    background-color: @white;
    border:1px solid #3495e1;
    margin-right: -3px;
    &:hover {
      background-color: @white;
color: @blue;
font-weight: 600;
}
  }
  .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #3495e1;
    color: #fff;
    font-weight: 600;
  }
  .nav > li > a:focus, .nav > li > a:hover {
    background-color: @white;
    color: @blue;
    font-weight: 600;
  }
  .nav li:last-child a {
      border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-left: 0;
  }
    .nav li:first-child a {
       border-top-left-radius: 8px;
      border-bottom-left-radius:8px;
      border-right: 0;
  }

}

/*relocation*/
.description_wrapper {
  max-width: 1170px;
  margin: 75px auto;
  text-align: center;
  p {
    color: @black;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.7;
    margin: 0;
  }
}
.relocation-wrapper {
padding: 75px 0;
  .img {
    overflow: hidden;
    cursor: pointer;

  }
.image-tile {
  img {
    max-width: 60%;
    margin: 0 auto;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}
  .title_thumbs {
    color: @black;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 400;
    max-width: 300px;
text-align: center;
  }
  .img:hover img {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

.compound_wrapper {
  .property-item {
    border:1px solid #dedede;
    padding: 20px;
    figure {
      position: relative;
      margin: 0;
      display: block;
      img {
        width: 100%;
        height: 100%;
      }
      .overlay-prop {
        position: absolute;
        bottom: 0;
        left: 0;right: 0;
        display: inline-block;
        background: rgba(2, 2, 2, 0.7);
        width: 100%;
        padding:5px 10px;
        span {
          color: @white;
          padding-right: 10px;
          font-size: 14px;
          font-weight: 300;
        }
      }
    }
    .detail {
      .price {
        font-size: 25px;
        color: @blue;
        margin-top: 0;
      }
      h5 {
        color: @black;
        font-weight: 300;
        font-size: 18px;
      }
      p {
        color: @text;
        font-size: 14px;
        font-weight: 300;
      }
      .property-meta {
        display: block;
        margin-bottom: 10px;
        span{
          padding-right: 10px;
          color: @text;
          font-weight: 300;
        }
        .fas {
          color: @text;
        }
      }
      .more-details {
        color: @blue ;
        display: inline-block;
        text-decoration: none;
        font-weight: 300;
        font-size: 14px;
        &:hover {
          color: #230f68;
        }
      }
    }
  }
  .listings {
    display: inline-block;
    list-style: none;
    padding: 0;
    width: 100%;
    .arrow {}
    li {
      display: block;
      width: 20%;
      float: left;
      text-align: center;
      a {
        display: block;
        img{
          width: 29px;
          z-index: -26;
        }
        .fab {
          display: block;
          font-size: 18px;
          color: #666;
          margin-top: 5px;
          -webkit-transition: all .3s ease-in-out;
          -moz-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
          &:hover {
            color: @blue;
          }
        }
        .fas {
          -webkit-transition: all .3s ease-in-out;
          -moz-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
          display: block;
          color: #666;
          font-size: 18px;
          margin-top: 5px;
          &:hover {
            color: @blue;
          }
        }
      }

    }
  }
}



.two_column_wrapper {
  padding: 75px 0;
.heading_description_wrapper {
  .heading {
    padding-bottom: 25px;
    h1 {
      margin: 0;
      color: #230f68;
      font-weight: 600;
    }
  }
  .description {
    padding-right: 50px;
    p {
      color: @black;
      font-size: 16px;
      line-height: 1.7;
      font-weight: 300;
    }
  }
}
  .list_wrapper {
    .heading {
      padding-bottom: 20px;
      h1 {
        margin: 0;
        color: #230f68;
        font-weight: 600;
      }
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        a {
          text-decoration: none;
          color: @black;
          font-size: 18px;
          line-height: 1.7;
          &:hover {
          color: @blue;
            }
        }
      }
    }
  }
  .number_text_wrapper {
    text-align: center;
    .number {
      color: @blue;
      font-weight: 700;
      font-size: 70px;
    }
    .text {
      color: @black;
      margin: 0 auto;
      padding-top: 15px;
      font-size: 20px;
      font-weight: 400;
    }
  }
}
.ptb-50{
  padding: 50px 0;
}
.pt-50 {
  padding-top: 50px;
}
/*enquiry form*/

.enquiry_wrapper {
  .contact-form {
    padding-top: 20px;
      ::-webkit-input-placeholder {
        color: @black;
        font-size: 14px;
        font-family: @font;
        font-weight: 400;
      }
      ::-moz-placeholder {
        /* Firefox 19+ */
        color: @black;
        font-size: 14px;
        font-weight: 400;
        font-family: @font;
      }
      :-ms-input-placeholder {
        color: @black;
        font-family: @font;
        font-weight: 400;
        font-size: 14px;
      }
      :-moz-placeholder {
        /* Firefox 18- */
        color: @black;
        font-size: 14px;
        font-weight: 400;
        font-family: @font;
      }
      .form-wrapper .form-control {
        color: @black;
        font-size: 14px;
        font-family: @font;
        font-weight: 400;
        height: 50px;
        border-radius: 6px;
        box-shadow: none;
        border: 1px solid #bebebe;
        background: transparent;
      }
      .form-wrapper .form-control:focus,
      .form-wrapper .form-control:active {
        outline-style: none;
        outline-offset: 0;
        box-shadow: none;
        -webkit-box-shadow: none;
      }
      .form-wrapper textarea {
        resize: none;
      }
      .form-wrapper .custom-control {
        color: @black;
        font-size: 14px;
        font-family: @font;
        font-weight: 400;
        border-radius: 6px;
        padding: 6px 12px;
        width: 100%;
        box-shadow: none;
        border: 1px solid #bebebe;
        background: transparent;
      }

      .btn-wrapper {
        text-align: center;
      }
      .submit-btn {
        background-color: @blue;
        border-radius: 6px;
        border: none;
        font-family: @font;
        font-size: 16px;
        color: @white;
        width: 100%;
        padding: 16px 5px;
        font-weight: 700;
        text-transform: uppercase;
        display: inline-block;
        border-bottom: 1px solid @white;
      }
    }
  .title_contact {
    padding-top: 75px;
    padding-bottom: 15px;
    h1 {
      margin-top: 0;
      color: #230f68;
      font-weight: 600;
    }
  }
  }

/********management******************/

.management-section {
  .image-one {
    background: url("../images/management/1.jpg");
  }
  .image-two{
    background: url("../images/management/2.jpg");
  }
  .image-three{
    background: url("../images/management/3.jpg");
  }
  .image-four{
    background: url("../images/management/4.jpg");
  }
  .image-five {
    background: url("../images/management/5.jpg");
  }
  .callout-box {
    max-height: 480px;
    height: 480px;
    text-align: center;
    position: relative;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    cursor: pointer;

  }
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #1e255c;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: height 0.35s ease-in-out, width 0.35s ease-in-out, opacity 0.35s ease-in-out;
    transition: height 0.35s ease-in-out, width 0.35s ease-in-out, opacity 0.35s ease-in-out;
  }
  .learn-more {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 20%;
    color: @white;
    left: 0;
    z-index: 99;
    text-decoration: none;
    right: 0;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  .callout-box a.callout-link {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .callout-box:hover .overlay {
    opacity: 0.9;
    height:  ~"calc(100% - 40px)";
    width:  ~"calc(100% - 40px)";
  }
    .g_wrapper{
      position: relative;
      z-index: 99;
    .g_content_element{
      display: table;
      width: 100%;
      height: 480px;
    }
    .wpb_wrapper{
      display: table-cell;
      width: 100%;
      height: 100%;
      vertical-align: middle;
      text-align: center;
      h5{
        font-size: 22px;
        text-transform: uppercase;
        line-height: 20px;
        color: @white;
        font-weight: 600;
        letter-spacing: 5px;
        border-bottom: 1px solid #FFF;
        display: inline-block;
        padding-bottom: 5px;
        margin-bottom: 20px;
      }
      p{
        font-size: 30px;
        font-weight: 700;
        color: @white;
        line-height: 34px;
      }
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.bx-outer-slider-wrapper {
  .mnt_slider {
    .middle-text{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 0;
      .heading {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        font-weight: 700;
        height:80px;
        font-size: 40px;
        color:#230f68;
        text-transform: uppercase;
        display: block;
        border: none;
        text-align: center;
        z-index: 9;
      }
    }
  }
}


.blue-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  .g_content_element{
    display: table;
    width: 100%;
    height: 600px;
  }
  .wpb_wrapper{
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    h4{
      font-size: 24px;
      text-transform: uppercase;
      line-height: 20px;
      color: @white;
      font-weight: 600;
      letter-spacing: 5px;
      border-bottom: 1px solid @white;
      display: inline-block;
      padding-bottom: 5px;
      margin-bottom: 20px;
    }
    p{
      font-size: 35px;
      font-weight: 700;
      color: @white;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
}

.two-column-wrapper {
  .left_wrapper_des {
    h3 {
      font-size: 30px;
      text-transform: uppercase;
      color: @violet;
      font-weight: 700;
      border-bottom: 1px solid @violet;
      display: inline-block;
      padding-bottom: 5px;
      margin-bottom: 20px;
    }
      p {
        color: @black;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 15px;
      }

    ul {
      padding-left: 0;
   list-style: none;
      li {
       margin-bottom: 10px;
        border-bottom: 1px solid #f1924c;
        padding-bottom: 2px;
        display: table;
        &:hover{
          border-bottom: 1px solid @blue;
        }
        .icon {
         background-image: url('../images/point.png');
          width: 11px;
          height: 12px;
          margin-right: 5px;
          display: inline-block;
        }
        a {
          color: @black;
          font-size: 16px;
          font-weight: 300;
          text-decoration: none;
          &:hover{
            color: @blue;
          }
        }
      }
    }
    }
  .gz_inner_content {
    .gz_description_wrapper {
      margin-bottom: 30px;
      h4 {
        font-size: 20px;
        color: @black;
        font-weight: 700;
        border-bottom: 1px solid @black;
        display: inline-block;
      }
      p {
        color: @black;
        font-size: 16px;
        font-weight: 300;
        margin: 0;
      }
    }
  }
}

.why_choose_wrapper {
  margin-top: 150px;
  margin-bottom: 100px;

  .blue-heading {
    margin-bottom: 50px;
    padding: 40px 30px;
    h1 {
      color: @violet;
      font-weight: 700;
      margin-bottom: 15px;
    }
    p {
      color: @black;
      font-size: 16px;
      margin-bottom: 10px;
      line-height: 1.7;
      font-weight: 300
    }
  }
  .square_box {
    text-align: center;
    padding: 50px 25px;
    h4 {
      color: @violet;
      font-weight: 700;
      height: 50px;
    }
    p {
      color: @black;
      font-size: 16px;
      margin-bottom: 15px;
      font-weight: 300;
    }
  }
}
.general-listing {
  padding: 40px 30px;
  margin-top: 30px;
  .content-s-wrapper,.two_column_left {
    text-align: center;
    h2 {
      color: @violet;
      font-weight: 700;
    }
    h3 {
      color: @violet;
    }
    .mtb-20 {
      margin: 20px 0;
    }
    .mb-20 {
      margin-bottom: 20px;
    }
    p {
      line-height: 1.7;
      color: @black;
      font-size: 16px;
      font-weight: 300;
      margin: 0;
    }
    .list-block{
      text-align: center;
      list-style: none;
      padding: 0;
      margin-left: -20px;
      margin-right: -20px;
      li {
        display: inline-block;
        text-align: center;
        margin: 0 20px;
      }
      .wrapper {
        background-color: @blue;
        color: @white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding:10px 35px;
        font-weight: 500;
        line-height: 28px;
        .price {
          font-size: 24px;
          font-weight: 600;
        }
      }
      .foot {
        background-color: #e6e6e6;
        color: @violet;
        padding:5px;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
}



.registration-wrapper {
  margin: 100px 0;
  .form-wrapper {
    max-width: 992px;
    position: relative;
    margin: 50px auto;
    ::-webkit-input-placeholder {
      font-family:@font;;
      color: #636161;
      font-weight: 300;
      font-size: 16px;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      font-family:@font;
      color: #636161;
      font-weight: 300;
      font-size: 16px;
    }
    :-ms-input-placeholder {
      font-family:@font;
      color: #636161;
      font-weight: 300;
      font-size: 16px;
    }
    :-moz-placeholder { /* Firefox 18- */
      font-family:@font;
      color: #636161;
      font-weight: 300;
      font-size: 16px;
    }
  }
  .field-name {
    color: @black;
    font-weight: 400;
    font-size: 14px;
  }
  .form-control {
    background-color: #f0f0f0;
    border: 0;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    box-shadow: none;
    width: 100%;
  }
  .panel-body {
    padding: 40px 25px;
  }
  .radio-wrapper {
    h4 {
      display: inline-block;
      color: @black;
      font-weight: 600;
      margin: 0;
      font-size: 16px;
      padding-right: 10px;
    }
    .checkbox-inline, .radio-inline{
      color: @black;
      font-weight: 400;
      font-size: 16px;
    }
  }
  .years-wrapper {
    .field-name {
      padding-top: 10px;
    }
  }
  .panel-group .panel+.panel {
    margin-top: 20px;
}
  .panel-default{
    background-color: @white;
    border-radius: 2px;
    border-color: transparent;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
  }
  .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border: none;
    border-color: transparent;
  }
  .panel-default>.panel-heading {
    background-color:@blue;
    border: none;
    color: @white;
    font-size: 16px;
    font-weight: 500;
    padding: 14px 24px;
    text-transform: uppercase;
    a {
      text-decoration: none;
    }
  }
  .panel{
    border: none;
  }
  .number-wrapper {
    font-size: 12px;
    color: @blue;
    background-color: #f0f0f0;
    border-radius: 2px;
    padding: 3px 7px;
    vertical-align: baseline;
    margin-right: 10px;

  }
  .terms-description {
    p {
      line-height: 1.7;
      color: @black;
      font-size: 16px;
      font-weight: 300;
    }
  }
  .scroll-wrapper {
    border: 1px solid #e5e5e5; height: 300px; overflow: auto; padding: 10px;
  }
  .checkbox-agree {
    margin-top: 20px;
    .checkbox-label {
      line-height: 1.7;
      color: @black;
      font-size: 16px;
      font-weight: 400;
    }
  }
  .term_items {
h5 {
  color: @black;
  font-size: 18px;
  border-bottom: 1px solid @black;
  display: inline-block;
}
    ul {
      list-style: decimal;
      padding-left: 20px;
      li {
        font-weight: 300;
        color: @black;
        font-size: 16px;
      }
    }
  }
  .form-wrapper h3 {
    display: block;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #16679c;
  }
  .form-control:focus {
    outline: none;
    box-shadow: none;
    outline-offset: 0;
  }
  .custom-control:focus {
    outline: none;
    box-shadow: none;
    outline-offset: 0;
  }

  .form-wrapper button[type="submit"]:focus {
    outline: none;
    outline-offset: 0;
  }
  .btn-visit {
    margin: 30px 0;
  }
  .btn-blue {
    background-color: @blue;
    padding: 5px 30px;
    margin: 0 5px;
    font-size: 16px;
    border: 1px solid @blue;
    font-family: @font;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    box-shadow: none;
    display: inline-block;
    text-transform: uppercase;
    &:hover {
      background: @white;
      color: @blue;
    }
  }

  .submit-wrapper {
    margin-top: 30px;

  }

}






.footer-wrapper {
  width: 100%;
  overflow: hidden;
  background: url(../images/FOOTER.jpg) no-repeat;
  margin: 0;
  background-size: cover;
  padding: 75px 0;


  .bold-head {
    color: @white;
    font-size: 24px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  .ctm-pad {
    margin-top: 50px;
  }
  .logo-description {
    .des {
      padding: 20px 0;
    }
    p {
      font-size: 16px;
      font-weight: 300;
      color: @white;
      line-height: 1.7;
    }
  }
  ul {
    list-style: none;
    padding: 0;
  }
  .links {

    li {
      a {
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        color: @white;
        line-height: 1.7;
        text-decoration: none;
        &:hover {
          color: @blue;
        }
      }
    }
  }
  .quick-contact {
    text-align: right;
    li {
      font-size: 16px;
      font-weight: 300;
      color: @white;
      line-height: 1.7;
      a {
        color: @white;
        display: block;
        line-height: 1.7;
        text-decoration: none;
        &:hover {
          color: @blue;
        }
      }
    }
    .number a{
      font-size: 18px;
      font-weight: 400;
    }
  }


}




/*  Removable CSS  */


.navbar {
  margin-bottom: 0;
}


.select2-container--bootstrap.select2-container--focus .select2-selection:focus{
outline: none;
outline-offset:0;
}


@import "common.less";